@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes weatherIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-weatherIn {
  animation: weatherIn 0.4s ease-out;
}